# Question-1 
Answer

In [2]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [3]:
b()
b()
b()
a

6

Since the initial value of "a" is 0, it is utilised in both b and c . When b() uses c(), a's values are raised by 2. As a result, each time b and c are called, two is added. Whenever b is called, a's value is updated globally since "a" is global variable.

# Question-2
Answer

In [4]:
def filelength(f):
    try:
        file = open(f, "r")
        contents=file.read()
        print('Given file length is : '+str(len(contents)))
        file.close()
    except:
            print('File '+f+' not found')

In [5]:
filelength("Filelength.txt")

Given file length is : 123

In [6]:
filelength("idterm.py")

File idterm.py not found

# Question-3
Answer

In [5]:
class Marsupial(object):
    def __init__(self):
        self.list = []
    def put_in_pouch(self, item):
        self.list.append(item)
    def pouch_contents(self):
        return self.list

In [7]:
k = Marsupial()
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [19]:
class Kangaroo(Marsupial):
    def __init__(self,a,b):
        Marsupial.__init__(self)
        self.a = a
        self.b = b
    
    def jump(self,da,db): 
        self.x = self.a + da
        self.y = self.b + db
        
    def __str__(self):
        return 'I am a kangaroo located at at coordinates ({},{})'.format(self.a,self.b)

In [21]:
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at at coordinates (0,0)

In [22]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [24]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at at coordinates (0,0)

# Question-4
Answer

In [31]:
def collatz(y):
    if y != 1:
        if y%2!=0:
            print(int(y))
            collatz(3*y+1)
            
        else:
            print(int(y))
            collatz(y/2)
        
    else:
        print(int());

In [29]:
collatz(1)

1

In [33]:
collatz(10)

10
5
16
8
4
2
1

# Question-5
Answer

In [34]:
def binary(input):
    if input>0:
        return (input % 2 + 10*binary(int(input // 2)))
    
    else:
        return 0

In [35]:
binary(0)

0

In [36]:
binary(1)

1

In [37]:
binary(3)

11

In [38]:
binary(9)

1001

# Question-6
Answer

In [39]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.head =0
        self.intend = ""
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.head = "type"
    def handle_data(self, data):
        if self.head=="type":
            print(self.intend+ data)
            self.intend+= "    "
            self.head=0

In [40]:
infile = open('w3c.html')
content = infile.read()
infile.close()
headingparser = HeadingParser()
headingparser.feed(content)

W3C Mission
    Principles

# Question-7
Answer

In [41]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class collector(HTMLParser):
    
    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def append(self):
        return self.links
    
    def handle_starttag(self, url_tag, attributes):
        for i in attributes:
            mylinks = urljoin(self.url, a[1])
            if mylinks[:4] == 'http':
                self.url_links.append(mylinks)
                i = 0
def webdir(url, depth, i):
    
    depth = depth - 1
    print(i*'  ', url)
    
    objective = urlopen(url).read().decode()
    collection = urlcollector(url)
    collection.feed(objective)
    urls = collection.append()
    
    links = urls
    i = i + 4
    
    for link in links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)

In [42]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html

NameError: name 'urlcollector' is not defined

# Question-8
Answer

In [43]:
import sqlite3

con = sqlite3.connect('database_db')

cur = con.cursor()

cur.execute("CREATE TABLE database_d (City text, Country text, Season text, Temperature dec, Rainfall dec)")

cur.execute("INSERT INTO database_d VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")

cur.execute("INSERT INTO database_d VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")

cur.execute("INSERT INTO database_d VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")

cur.execute("INSERT INTO database_d VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")

cur.execute("INSERT INTO database_d VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")

cur.execute("INSERT INTO database_d VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")

cur.execute("INSERT INTO database_d VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")

cur.execute("INSERT INTO database_d VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")

cur.execute("INSERT INTO database_d VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")

cur.execute("INSERT INTO database_d VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")

cur.execute("INSERT INTO database_d VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")

cur.execute("INSERT INTO database_d VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

con.commit()
con.close()

In [44]:
import sqlite3
con = sqlite3.connect('database_db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM database_d ')

for record in cur:
    print(record)
cur.execute('SELECT DISTINCT City FROM database_d ')

for record in cur:
    print(record)
cur.execute('SELECT * FROM database_d  where Season="Fall"')

for record in cur:
    print(record)
cur.execute('SELECT * FROM database_d  where Country="India"')

for record in cur:
    print(record)
cur.execute('SELECT City,Country FROM database_d  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')

for record in cur:
    print(record)
cur.execute('SELECT City,Country,Season FROM database_d  where (rainfall>200) AND (rainfall<400)')

for record in cur:
    print(record)
cur.execute('SELECT SUM(Rainfall) FROM database_d  where City="Cairo"')

Annual_rainfall=cur.fetchall()

print(Annual_rainfall)
cur.execute('SELECT SUM(Rainfall),Season FROM database_d  GROUP BY Season')

for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

# Question-9
Answer

In [45]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [46]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [47]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [48]:
[[a.upper(),a.lower(),len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [49]:
[a for a in words if len(a) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']